/*TIPOGRAFÍAS*/
@import url("https://use.typekit.net/dfr4xfr.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*RESET*/
*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    font-family: inherit;
}

/*HEADER*/
body{
    background-color: #faf1dc;
}
header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    flex-wrap: nowrap;
}

header div{
    display:flex;
    align-items: center;}

header div h1{
    font-family: "ohno-softie-variable",sans-serif;
    font-variation-settings: 'wght' 550;
    color: #f7bac6;
    letter-spacing: 3px;
    word-spacing: 6px;
    border-radius: 5px; /* Esquinas redondeadas */
    text-shadow: 2px 2px 4px #36382e;
    margin-left: 10px;
}
header div img{
    height: 80px;
    margin-left: 20px;
}

.navbar>.container-fluid{
    width: 50%;
}
.navbar-expand-lg{
    width: 100%;

}
header nav{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
}

header nav ul li {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 18px ;
    letter-spacing: 1px;
    color: #36382e;
    padding: 0px 10px;
    margin: 8px;
    background-color: #faf1dc;
    border-radius: 50px;
    text-align: center;
}
/*MAIN*/

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style:normal;
    background-color:#f7bac6;
    font-size: 35px;
    color: #faf1dc;
    text-shadow: 2px 2px 8px #36382e;
    text-align: center;
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Esquinas redondeadas */
    margin-top: 20px;
}

main h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 20px;
    color: #36382e;
}

main p{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #36382e;
    font-size: 15px;
}

main img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-top: 20px;
} 
main section div a{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #36382e;
    font-size: 15px;
    background-color: #d2e6e4;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

/*SECCIÓN HERO*/
.hero {
    text-align: center;
    height: 250px;
    background-image: url("../img/banner.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hero h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 40px ;
    color: #faf6ed;
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Esquinas redondeadas */
    text-shadow: 2px 2px 5px #36382e;
    background-color:inherit;
}

.hero  a{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    background-color: #d2e6e4;
    color: #36382e;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.hero a:hover{
    background-color: #faf1dc;
}

/*SECCION SERVICIOS*/

.servicios .serv-cont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.servicios .serv-cont div {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.servicios .serv-cont div a{
    text-decoration: none;
}

.servicios .serv-cont div a:hover{
    background-color: #f7bac6;
}


/*SECCIÓN PRODUCTOS*/
.productos .prod-cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.productos .prod-cont div {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.productos .prod-cont div img{
    padding: 20px;
}

.productos .prod-cont div a{
    text-decoration: none;
}

.productos .prod-cont div a:hover{
    background-color: #f7bac6;
}

/*FOOTER*/

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: #36382e solid 2px;
}
.redes a{
    text-decoration: none;
}
.redes img{
    height: 40px;
    margin-left: 20px;
}
.formulario{
    text-align: right;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    align-items: center;
    width: 45%;
    justify-content: end;
}

.formulario form input {
    background-color: #faf6ed;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
}

.formulario p{
    margin-right: 10px;
}

.formulario form button{
    background-color: #d2e6e4;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #36382e;
}

.formulario form button:hover{
    background-color: #f7bac6;
}


/*!----NOSOTROS----*/

.instagram{
    display:grid;
    grid-template-areas: 
    "h2 h2 h2"
    "arroba . . "
    "publi publi publi "
    "publi publi publi"
    ;
    justify-items: center;
}

.instagram h2{
    grid-area: h2;
}
.instagram a{
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #f7bac6;
    font-size: 30px;
    grid-area: arroba;
    margin-left: 20px;
}

.insta {
    width: 80%;
    grid-area: publi;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px; 
    padding: 10px; 
}

.insta img{
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
}
.consulta{
    display: flex;
    flex-direction: column;
    
}

.consulta div form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.consulta div{
    margin: 20px;
}
.consulta div input{
    border: #36382e solid 1px;
    background-color: #faf6ed;
    padding: 10px;
    border-radius: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    width: 80%;
}

.comentario{
    height: 100px;
}

.consulta button{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    background-color: #f7bac6;
    color: #36382e;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
    width: 20%;
    margin: auto;
}

.consulta button:hover{
    background-color: #d2e6e4;
}

.mapa{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.mapa iframe{
    width: 80%;
}

.infodellocal{
    width: 20%;
    padding: 2%;
}

.infodellocal p {
    font-size: 20px;
    text-align: justify;
}


/*!----PRODUCTOS----*/
/*BARRA BUSCADOR*/
.buscador{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #36382e;
}

.buscador button {
    background-color: #d2e6e4;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.buscador button:hover{
    background-color: #f7bac6;
}

.buscador .barra-busca{
    display: flex;
    justify-content: center;
}
.buscador form input {
    background-color: #faf6ed;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
}

.texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto p {
    margin: 0;
    margin-left: 20px;
}

.texto .wpp{
    display: flex;
    justify-content: end;
    align-items: center;
}

.texto button{
    background-color: #d2e6e4;
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px;
}

.texto button:hover{
    background-color: #f7bac6;
}
.texto img{
    height: 40px;
    width: auto;
    margin: 0;
}
/*GRILLA Y FILTROS*/

.grilla {
    display: grid;
    grid-template-columns: 0.5FR 3fr;
    gap: 20px;
    padding: 20px;
}

.grilla aside {
    justify-self: center;
    padding: 20px;
    border-radius: 8px;
}

.grilla aside h3 {
    margin-top: 0;
}

.filtros {
    font-family: "lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #2f2e38;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.filtros label {
    margin-bottom: 10px;
}

.grilla .prod-grilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-self: center;
}

.grilla .prod-grilla h2 {
    grid-column: span 3;
    text-align: center;
    margin-bottom: 20px;
}

.grilla .prod-grilla .producto { 
    position: relative; /* Para posicionar el precio sobre la imagen */
    text-align: center; 
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

.grilla .prod-grilla img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.grilla .prod-grilla .descripcion { 
    margin-top: 10px; 
    color: #2f2e38;
    font-size: 14px;
}

.grilla .prod-grilla .precio { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0); 
    color: #2f2e38; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    opacity: 0; /* Oculto por defecto */
    transition: all 0.3s ease; /* Transición suave */
}

.grilla .prod-grilla .producto:hover .precio { 
    background-color: #faf1dc; 
    opacity: 0.75;
}

/*!----SERVICIOS----*/

.page-servicios{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.page-servicios .serv{
    display: flex;
    margin: 20px;
    justify-content:center ;
    align-items: center;
    width: 90%;
    }



.page-servicios .serv div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.page-servicios .serv div h3{
    font-size: 20px;
}

.page-servicios .serv div p{
    margin-left: 20px;
    font-size: 18px;
    line-height: 1.6;
}

.page-servicios .serv div a{
    text-decoration: none;
}

.page-servicios .serv div a:hover{
    background-color: #f7bac6;
}

/*!----TURNOS----*/

/*HERO*/
.hero-turnos {
    text-align: center;
    height: 350px;
    background-image: url("../img//banner_turnos.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hero-turnos h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 40px ;
    color: #faf6ed;
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Esquinas redondeadas */
    text-shadow: 2px 2px 5px #36382e;
}

.hero-turnos p {
    font-size: 20px;
    color: #faf1dc;
    border-radius: 5px;
    text-shadow: 2px 2px 4px #36382e;
}

.manicuras{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;

}
.manicuras button{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #36382e;
    font-size: 15px;
    background-color: #f7bac6;
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    transition: background-color 0.3s;
    margin: 10px;
}

.manicuras button:hover{
    background-color: #d2e6e4;
}

/*RESERVA DE SERVICIOS*/
.reserva{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    flex-wrap: wrap;
}

.reserva div h3{
    color: #36382e;
    border-radius: 5px;
    
}

.reserva .seleccion, .calendario-cont, .datos-contacto{
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #36382e;
    padding: 10px;
    background-color: #d2e6e4;
    border-radius: 10px;
    justify-items: center;
    margin: 10px;
}

.reserva .calendario-cont .calendar{
    border: none;
    padding: 5px;
}

.calendar input{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #36382e;
}

.reserva .datos-contacto{
    display:flex ;
    flex-direction: column;
    justify-content: space-between;
}

/*INFORMACIÓN DE LA RESERVA*/

.info-reserva {
    border: #2f2e38 solid 1px;
    border-radius: 10px;
    background-color: #fcc8d243;
    margin: 20px;
    display: grid;
    grid-template-areas: 
    "titulo titulo titulo"
    "caja caja caja"
    ". . boton"
    ;
    
}

.info-reserva h3{
    grid-area: titulo;
    justify-self: center;
    margin-top: 10px;
}

.info-reserva .caja-reserva{
    grid-area: caja;
    margin: 20px;
    border: #2f2e38 solid 1px;
    width: 200px;
    border-radius: 10px;
    
}
.info-reserva button{
    grid-area: boton;
    width: 100px;
    justify-self: end;
    margin: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #36382e;
    background-color: #f7bac6;
    border: none;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
    text-align: center;
}

.info-reserva button:hover{
    background-color: #d2e6e4;
}

.caja-reserva p {
    margin: 10px 20px;
}

/*!----DISEÑO RESPONSIVE----*/

@media screen and (max-width:1150px) {
    header {
        flex-direction: column;
        height: 150px;
        align-items: center;
    }

    header nav{
        width: 100%;
        justify-content: center;
    }

    .HERO{
        height: 200px;
    }

    .hero h2{
        font-size: 30px;
    }

    main img{
        height: 200px;
        width: 200px
    }


.grilla .prod-grilla{
    grid-template-columns: repeat(2,1fr);
}

.grilla .prod-grilla h2{
    grid-column: span 2;
}


.grilla .prod-grilla img{
    padding: 2%;
}
}


@media screen and (max-width:875px) {
    .productos .prod-cont{
        flex-wrap: wrap;
    }
    .servicios .serv-cont{
        flex-wrap: wrap;
    }
    
.grilla .prod-grilla{
    grid-template-columns: 1fr;
}

.grilla .prod-grilla h2{
    grid-column: span 1;
}


.grilla .prod-grilla img{
    padding: 2%;
}

.instagram{
    grid-template-areas: 
    "h2 h2"
    "arroba . "
    "publi publi"
    "publi publi"
    ;
}

.insta {

    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
}
.mapa{
    flex-direction: column;
    align-items: center;
}

.infodellocal{
    width: 80%;
}

.page-servicios .serv div p{
    font-size: 14px;
}
}

@media screen and (max-width:740px){
    .texto p{
        font-size: 13px;
    }
    .texto .wpp {
        font-size: 13px;
    }
}


@media screen and (max-width:658px) {
    .page-servicios .serv{
        flex-direction: column;
        align-items: center;
    }

    .page-servicios .serv div{
        width: 90%;
    }

    .buscador{
        font-size: 12px;
    }

    .grilla{
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .grilla .prod-grilla img{
        width: 300px;
    }


    .texto .wpp {
        font-size: 11px;
    }
}


@media screen and (max-width:560px) {
    header{
        height: 100px;
    }
    header div img{
        height: 60px;
    }
    .navbar-brand{
        padding: 0px;
        margin-right: 0;
    }
    header nav ul li a {
        font-size: 14px;
    }

    .buscador form  {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
    }

    .buscador .barra-busca{
        align-content: center;
    }

    .formulario p {
        font-size: 12px;
    }

    .formulario form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formulario form input {
        font-size: 12px;
    }

    .formulario form button {
        font-size: 12px;
        padding: 5px;
    }
    .instagram{
        grid-template-areas: 
        "h2 "
        "arroba  "
        "publi "
        "publi "
        ;
    }
    
    .insta {
    
        grid-template-columns:  1fr; 
        grid-template-rows: repeat(4, 1fr); 
    }
    
.redes img{
    height: 30px;
}

.infodellocal p{
    font-size: 15px;
}
}
@media screen and (max-width:480px) {
    header nav ul li{
        margin: 2px;
        padding: 2px;
    }
    header div h1{
        font-size: 30px;
        word-spacing: 2px;
    }

    header div img{
        height: 60px;
    }
    .hero-turnos p{
        font-size: 15px;
    }
}

@media screen and (max-width:405px) {
    .formulario{
        flex-direction: column;
        justify-content: center;
    }
    .formulario form input{
        margin: 8px;
    }

    .hero{
        height: 150px;
    }
    .hero h2{
        font-size: 20px;
    }

    .hero a{
        font-size: 14px;
        padding:5px, 10px
    }

    main h2{
        font-size: 25px;
    }

    .servicios .serv-cont div {
        height: auto;
    }

    .productos .prod-cont div {
        height: auto;
    }
}

@media screen and (max-width:391px) {
    header div h1{
        font-size: 28px;
    }
    header div img{
        height: 50px;
    }
    .navbar-toggler {
        padding:0px;
    }
    header nav ul li {
        font-size: 12px;
    }

    .instagram a{
        font-size: 20px;
    }
}
