/*TIPOGRAFÃAS*/
@import url("https://use.typekit.net/dfr4xfr.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*RESET*/
*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    font-family: inherit;
}
body{
    background-color: #faf1dc;
}
/*BOOTSTRAP*/
.navbar>.container-fluid{
    width: 50%;
}
.navbar-expand-lg{
    width: 100%;
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #f7bac6;
    font-size: 35px;
    color: #faf1dc;
    text-shadow: 2px 2px 8px #36382e;
    text-align: center;
    padding: 10px;
    /* Espaciado interno */
    border-radius: 5px;
    /* Esquinas redondeadas */
    margin-top: 20px;
}

h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #36382e;
    font-size: 20px;
}